<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}QADAM{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="QADAM Logo">  <!-- Пример для логотипа -->
        <h1>QADAM Job Platform</h1>
        <nav>
            <ul>
                <li><a href="../front/index.html">Home</a></li>
                {% if 'user_id' in session %}
                    <li><a href="vacancies.html">Vacancies</a></li>
                    <li><a href="add_job.html">Add Job</a></li>
                    <li><a href="../front/index.html">Logout</a></li>
                {% else %}
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>© 2024 QADAM. All rights reserved.</p>
    </footer>
</body>
</html>