<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Job Platform</h1>
    <a href="/profile">Create your Profile</a>

    <h2>Available Jobs</h2>
    <ul>
        {% for job in jobs %}
            <li>
                <a href="/job/{{ job[0] }}">{{ job[1] }} at {{ job[2] }}</a>
                <p>{{ job[3] }}</p>
                <p>Category: {{ job[4] }}</p>
            </li>
        {% endfor %}
    </ul>

    <form method="GET" action="/">
    <input type="text" name="search" placeholder="Search by title..." value="{{ search_query }}">
    <select name="category">
        <option value="">All Categories</option>
        <option value="Programming" {% if category == 'Programming' %}selected{% endif %}>Programming</option>
        <option value="Marketing" {% if category == 'Marketing' %}selected{% endif %}>Marketing</option>
        <option value="Design" {% if category == 'Design' %}selected{% endif %}>Design</option>
        <!-- Добавьте другие категории -->
    </select>
    <button type="submit">Search</button>
</form>

</body>
</html>
